<header>
    <div class="mini-navbar-wrap"  >
        <div class="logo-wrap">
            <p class="logo"><span class="logo" routerLink="/">SoftUni Forum</span></p>
        </div>
        <div class="mini-navbar" *ngIf="!isLogged">
            <ul>
                <li>
                    <a (click)="loginHandler()" routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mini-navbar-wrap" *ngIf="isLogged">
    <li>Hello Username</li>
    <a (click)="logoutHandler()">Logout</a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Themes</a>
            </li>
            <li>
                <a href="#">New Theme</a>
            </li>
        </ul>
    </nav>

</header>
